.mat-card-image{
    cursor:pointer;
}
h3 {
    font-weight:500;
}

.product-item-card {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.product-item-img-wrapper {
    display: block;
    position: relative;
    overflow: hidden !important;
    padding: 13px 10px;
    min-height: 266px;
}