// Authentication
.auth-title{
    color: #a3afb7;
    font-size:1.4rem;
    font-weight:300;
}
.auth-content{
    margin: 80px auto 0 auto;
    max-width: 440px;
    width:100%;
    .auth-submit-btn{
        width:100%;
    }
}
